.btn {
    border-radius: 100px;
    height: 55px;
    width: 55px;
    background-color: #0B1B6E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    height: 55px;
    width: 100px;
    border-radius: 5px;
    background-color: #0B1B6E;
    margin-left: 5px;
    margin-right: 5px;
}

.buttn {
    display: flex;
    align-items: center;
}

.input {
    background-color: #cdcbcb;
    border-radius: 50px;
    height: 55px;
    margin-left: 5px;
}

.search {
    display: flex;
    align-Items: flex-end;
    justify-Content: flex-end
}
.head{
    padding: 20px;
}
.download{
    border-radius: 100px;
    height: 55px;
    width: 55px;
    background-color: #cdcbcb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}